{% extends "base.html" %}

{% block content %}
    <h1>Список статей</h1>
    <hr>
    {% for article in articles %}
        <h2>{{ article.name }}</h2>
        <div>{{ article.body|slice:":200" }}</div>
        <p>
            <a href="{% url 'articles_update' id=article.id %}">
                Редактировать статью
            </a>
        </p>
        <form action="{% url 'articles_delete' article.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить">
        </form>
        <hr>
    {% endfor %}
{% endblock %}